/* pagination */

.pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 20px;
}

.pagination button {
    font-size: 30px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}